@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lavishly+Yours&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* COMMON CSS */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables */
:root {
  /* Fonts Family */
  --roboto-font: "Roboto", sans-serif;
  --Lavishly-Yours-font: "Lavishly Yours", cursive;
  --Montserrat-font: "Montserrat", sans-serif;

  /* Colors */
  --light-black: #333;
  --light-white: #f7f7f7;
  --light-red: #711118;
  --light-grey: #dcdcdc;
  --light-grey-2: #dddddd;
  --white: #fff;
  --yellow: #ac9963;
  --grey: #757575;
  --brown: #6f5e4d;
  --bg-coffee: #642f21;
}

body,html{
  font-size: 1rem;
  font-family: var(--roboto-font);
  font-weight: 300;
}

@media (max-width:992px){
  body,html{
    font-size: 0.875rem;
  }
}

/* HEADLINE TAG  */

h1,h2,h3,h4,h5,h6{
  font-family: var(--Montserrat-font);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.3;
}

p{
  font-size: 16px;
}

/* ANCHOR TAG */
a{
  color: var(--light-black);
  text-decoration: none;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

/* CUSTOM SCROLLBAR  */

::-webkit-scrollbar{ 
  width:5px;
}

::-webkit-scrollbar-track{ 
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb{ 
  background: var(--yellow);
}

/* Common Button  */

.order-now{
  color: var(--light-black) !important;
  background-color: var(--yellow) !important;
  border-color: var(--yellow) !important;
  padding: 15px 38px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: var(--Montserrat-font);
  vertical-align: middle;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.order-now:hover,
.order-now:focus{
  color: var(--white) !important;
  background: transparent;
  border-color:var(--white) !important;
}

.btn_red{
  color: var(--white) !important;
  background:var(--light-red) !important;
  border-color:var(--light-red) !important;
}

.btn_red:hover,
.btn_red:focus{
  color: var(--light-red) !important;
  background:transparent !important;
  border-color:var(--light-red) !important;
}

